
<!-- partials/cities/list.html -->

<h4>Home. Cities List</h4>

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-marker ng-repeat="city in cities"
                  idKey="city.cityname"
                  coords="city.coords"
                  >
  </ui-gmap-marker>
</ui-gmap-google-map>

<ul class="large-block-grid-4" >
  <li ng-repeat="city in cities | limitTo: 16 " ui-sref-active="active" >
    <a ui-sref="cities.city({cityname: city.cityname})">{{city.name}}</a>
  </li>
</ul>

